<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
  </head>
  <body ng-app="myApp">
    <form action="" ng-controller="myController">
      <textarea ng-model="a"></textarea><br>
      <textarea ng-model="b"></textarea><br>

      <p>{{a+' '+b}}</p>
    </form>

    <script>
      var app = angular.module('myApp', []);
      app.controller('myController', function($scope) {
        $scope.a = 1;
        $scope.b = 2;
      })
    </script>
  </body>
</html>